@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #f8efdc;
    --cor02: #F2D1B3;
    --cor003: #BF8563;
    --cor004: #D9B5A0;
    --cor005: #8C4126;
    --cor006: #734E40;
    --font01: Poppins;
    --font02: Quicksand;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
  }

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8efdc;
}

main {
    background-color: white;
    padding-top: 100px;
}

/* Header and Navigation */
header {
    width: 100%;
    padding: 28px 8%;
    background-color: #f8efdc;
    position: sticky;
    top: 0;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav_list {
    display: flex;
    list-style: none; 
    gap: 25px;
    font-size: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: #4a6180;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-item a.hover {
    color: #000000;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 40px;
}

.btn-default:hover {
    background-color: #4a6180;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
    position: absolute;
    top: 70px; /* Ajuste a posição do menu */
    left: 0;
    width: 100%;
    background-color: var(--cor01); /* Cor de fundo */
    padding: 20px 0;
    text-align: center;
}

#mobile_menu .btn-default {
    display: block;
    width: 20%; /* Faz o botão ocupar mais espaço */
    margin: 20px auto; /* Centraliza horizontalmente */
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}
/* Hero Section */
.hero-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.text-first {
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.text-secondary {
    color: #8d8d8f;
    font-size: 18px;
    margin-bottom: 20px;
}

.text-third {
    color: #4a6180;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    letter-spacing: .15em;
    text-transform: uppercase;
}

/* Sobre - Grid layout cruzado */
.sobre-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas iguais */
    grid-template-rows: auto auto; /* Altura automática */
    gap: 40px; /* Espaçamento entre os itens */
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    align-items: center; /* Alinha ao centro na vertical */
}

/* Texto estilizado */
.sobre-texto {
    text-align: right;
    max-width: 400px;
    padding: 0;
}
.sobre-texto2 {
    text-align: left;
    max-width: 400px;
    padding: 0;
}

.foto-arredondada {
    width: 80%;
    height: 80%;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

/* Serviços */
#servicos {
    background-color: #f8efdc;
}


.servicos-selection {
    padding: 40px 20px;
    background-color: white;
    color: black;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto; /* Centralizar */
    border-radius: 20px;
}


.servicos-selection h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.servicos-selection p {
    font-size: 16px;
    color: #afadad;
    margin-bottom: 40px;
}

/* Container dos cards */
.cards-container { 
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha ao topo (ou center, se quiser verticalmente no centro) */
    gap: 30px; /* Espaçamento entre os cards */
    margin: 0 auto; /* Centraliza na tela */
    padding: 20px 0;
    flex-wrap: nowrap; /* NÃO deixa quebrar em coluna */
    max-width: 100%; /* Usa toda a largura disponível */
    overflow-x: auto; /* Adiciona scroll horizontal se faltar espaço */
}

/* Card individual */
.card-servico {
    background-color: var(--cor02);
    padding: 30px 20px;
    border-radius: 12px;
    width: 280px;
    height: 350px; /* Altura fixa para alinhar todos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0; /* Impede de reduzir o tamanho ao faltar espaço */
}

.card-servico:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

/* Ícone do serviço */
.icon-servico {
    font-size: 50px;
    color: var(--cor005); /* Cor ícone */
}

/* Título do serviço */
.card-servico h3 {
    font-size: 22px;
    margin: 0;
    color: black;
    text-align: center;
}

/* Link 'Veja Mais' */
.card-servico a {
    text-decoration: none;
    color: var(--cor005);
    font-weight: 500;
    transition: color 0.3s ease;
}

.card-servico a:hover {
    color: white;
}


/* Responsiveness */
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    #nav_list {
        flex-direction: column;
        gap: 10px;
    }

    .btn-default {
        margin-left: 0;
        width: 100%;
    }

    .sobre-container-grid {
        grid-template-columns: 1fr; /* Vira 1 coluna no mobile */
    }


    .coluna-sobre {
        max-width: 100%;
    }

    .foto-arredondada {
        max-width: 250px;
    }

    .text-first {
        font-size: 32px;
        text-align: center;
    }

    .text-secondary {
        text-align: center;
    }

    .text-third {
        display: block;
        text-align: center;
    }
}