@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #f8efdc;
    --cor02: #F2D1B3;
    --cor003: #BF8563;
    --cor004: #D9B5A0;
    --cor005: #8C4126;
    --cor006: #734E40;
    --font01: Poppins;
    --font02: Quicksand;
}
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
  }


main {
    background-color: white;
}

/* Header and Navigation */
.header {
    background-color: #f8efdcdc;
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.445);
    max-width: 3500px;
    padding-left: 10px;
}

.nav {
    align-items: center;
    max-width: 3000px;
    min-width: 300px;
    height: 200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Poppins';
}

.nav-list li {
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 32px;
    margin: auto;
    max-width: 3000px;
}

.nav-list a {
    font-size: 20px;
    color: #734E40;
    text-decoration: none;
    padding-block: 16px;
    transition: .5s;
}

.nav-list a:hover {
    font-size: 24px;
    transition: .5s;
    color: #8C4126;
}

.hamburger {
    border: none;
    background: none;
    border-top: 3px solid #734E40;
    cursor: pointer;
    display: none;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #734E40;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .hamburger.active > .header {
        background: transparent;
        box-shadow: none;
    }

    .nav-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-width: 360px;
        height: 50vh;
        background: #BF8563;
        clip-path: circle(10px at 100vw -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        min-width: 0 !important;
    }
    
    .nav-list a {
        font-size: 22px;
        opacity: 0;
        color: beige;
    }

    .nav-list li:nth-child(1) a {
        transition: .5s 0.2s;
    }   

    .nav-list li:nth-child(1) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(2) a {
        transition: .5s 0.35s;
    }

    .nav-list li:nth-child(2) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(3) a {
        transition: .5s .5s;
    }

    .nav-list li:nth-child(3) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(4) a {
        transition: .5s .65s;
    }

    .nav-list li:nth-child(4) a:hover {
        font-size: 30px;
        transition:  0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(5) a {
        transition: .5s .8s;
    }

    .nav-list li:nth-child(5) a:hover {
        font-size: 30px;
        transition:  0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        width: 100vw;
        min-width: 500px;
        max-width: 3000px;
    }
}

/* Grid layout cruzado */
.sobre-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 40px; 
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    align-items: center; 
}

.sobre-container-grid-mobile {
    display: none;
}

/* Texto estilizado */
.sobre-texto {
    text-align: left;
    max-width: 700px;
    padding: 0;
}
.sobre-texto h2 {
    font-size: 2em;
    margin-bottom: 15px; 
}
.sobre-texto h3 {
    font-size: 1em;
    margin-bottom: 15px; 
    font-family: var(--font01);
    text-transform: uppercase;
    letter-spacing: .15em;
}

.sobre-texto2 h3 {
    font-size: 1em;
    margin-bottom: 15px; 
    font-family: var(--font01);
    text-transform: uppercase;
    letter-spacing: .15em;

}
.sobre-texto2 {
    text-align: right;
    max-width: 700px;
    padding: 0;
}
.sobre-texto2 h2 {
    font-size: 2em;
    margin-bottom: 15px; 
}

.sobre-texto p {
    font-size: 1.1em;
    line-height: 1.6em;
}
.sobre-texto2 p {
    font-size: 1.1em;
    line-height: 1.6em;
}
.foto-arredondada {
    width: 600px;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#curriculo {
    background-color: var(--cor003);
    border-radius: .5rem;
    padding: 1rem;
    color: black;
    transition: 0.3s;
}

#curriculo a {
    color: var(--cor005);
    text-decoration: none;
    font-weight: bold;
}

#curriculo a:hover {
    color: var(--cor006);
    text-decoration: none;
}

#curriculo a:hover .fa-arrow-down {
    transform: rotate(90deg); 
    transition: transform 0.1s;
}

@media (max-width: 768px) {
    .sobre-container-grid {
        grid-template-columns: 1fr; 
        text-align: left;
    }
    
    .container-imagem p{
        font-size: 1.1em;
        line-height: 1.6em;
        
    }
    .container-imagem h2{
        font-size: 2em;
        margin-bottom: 15px; 
    }
    .container-imagem h3{
        font-size: 1em;
    margin-bottom: 15px; 
    font-family: var(--font01);
    text-transform: uppercase;
    letter-spacing: .15em;
        
    }
    .foto-arredondada {
        width: 100%;
    }
    .coluna-sobre {
        max-width: 100%;
    }
    .text-first {
        font-size: 32px;
        text-align: center;
    }

    .text-secondary {
        text-align: center;
    }

    .text-third {
        display: block;
        text-align: center;
    }

#sobre {
    display: none;
}

.sobre-container-grid-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 20px;
    gap: 50px;
} 

}
/* Rodapé */

.footer {
    bottom: 0%;
    width: 100%;
    background-color: var(--cor01); 
    color: var(--cor005); 
    padding: 20px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-left {
    width: 50%; 
}

.footer-right {
    width: 30%; 
    text-align: left; 
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 8px;
}

.footer-right ul li a {
    text-decoration: none;
    color: var(--cor005); 
    transition: 0.3s;
}

.footer-right ul li a:hover {
    color: var(--cor006);; 
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #e5d4c3;
    padding-top: 10px;
    font-size: 14px;
}
