@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor01: #f8efdc;
    --cor02: #F2D1B3;
    --cor003: #BF8563;
    --cor004: #D9B5A0;
    --cor005: #8C4126;
    --cor006: #734E40;
    --font01: Poppins;
    --font02: Quicksand;
}

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

html {
    scroll-behavior: smooth;
  }

.header {
    background-color: #f8efdcdc;
    box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.445);
    max-width: 3500px;
    min-width: 490px;
    padding-left: 10px;
}

.nav {
    align-items: center;
    max-width: 3000px;
    min-width: 300px;
    height: 200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Poppins';
}

.nav-list li {
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 32px;
    margin: auto;
    max-width: 3000px;
}

.nav-list a {
    font-size: 20px;
    color: #734E40;
    text-decoration: none;
    padding-block: 16px;
    transition: .5s;
}

.nav-list a:hover {
    font-size: 24px;
    transition: .5s;
    color: #8C4126;
}

.hamburger {
    border: none;
    background: none;
    border-top: 3px solid #734E40;
    cursor: pointer;
    display: none;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #734E40;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .hamburger.active > .header {
        background: transparent;
        box-shadow: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background: #BF8563;
        clip-path: circle(100px at 90% -100%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    
    .nav-list a {
        font-size: 22px;
        opacity: 0;
        color: beige;
    }

    .nav-list li:nth-child(1) a {
        transition: .5s 0.2s;
    }   

    .nav-list li:nth-child(1) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(2) a {
        transition: .5s 0.35s;
    }

    .nav-list li:nth-child(2) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(3) a {
        transition: .5s .5s;
    }

    .nav-list li:nth-child(3) a:hover {
        font-size: 30px;
        transition: 0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(4) a {
        transition: .5s .65s;
    }

    .nav-list li:nth-child(4) a:hover {
        font-size: 30px;
        transition:  0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav-list li:nth-child(5) a {
        transition: .5s .8s;
    }

    .nav-list li:nth-child(5) a:hover {
        font-size: 30px;
        transition:  0.1s;
        padding: 20px;
        border-radius: 25px;
    }  

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -25%);
        pointer-events: all;
        width: 100vw;
        max-width: 3000px;
    }
}


@media (min-width: 901px) {
    img {
        display: flex;
    }

    .menubar {
        display: block;
        z-index: 1;
    }

    .menubar.active > .header {
        background: transparent;
        box-shadow: none;
    }

    .menu-list {
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        
        
        clip-path: circle(1500px at 90vw -30%);
        transition: 1s ease-out;
        display: flex;

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    li.menu {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-list img {
        opacity: 0;
    }

    .nav.active .menu-list img {
        opacity: 1;
    }

    .nav.active .menu-list {
        clip-path: circle(3000px at 90% -30%);
        pointer-events: all;
        width: 100vw;
        background: #BF8563;
        transition: 1s ease-in-out;
        gap: 32px;
        height: 200px;
    }
}

@media (max-width: 901px) {
    .menubar {
        display: none;
    }
}

.menubar {
    border: none;
    background: none;
    border-top: 3px solid #734E40;
    cursor: pointer;
}

.menubar::before,
.menubar::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #734E40;
    margin-top: 5px;

}

ul.menu-list {
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    margin: auto;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    
}

.menu-list li {
    letter-spacing: 1px;
    text-decoration: none;
}

.menu-list img {
    padding-block: 16px;
    transition: .5s;
}

.menu-list img:hover {
    transition: .5s;
}

li.menu {
    width: 100px;
    align-items: center;
}

.insta {
    width:130px;
    padding: 0px;
    align-items: center;
}

.img{
    width: 65px;
    padding: 27px;
}

.linkedin {
    width: 77px;
    padding-left: 10px;
}

main {
    height: 3000px;
    font-family: var(--font01);
    background-color: white;
}

.contato {
    max-width: 800px;
    min-width: 500px;
    margin: auto;
    background-color: white;
    margin: auto;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.404);
    height: 100%;
}

h1 {
    text-align: left;
    padding: 50px;
    font-size: 4em;
    color: black;
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.541);
}

.contato > p {
    padding: 50px;
    padding-top: 10px;
}

#instagram {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#instagram img {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding-top: 10px;
    max-width: 250px;
}

#github {
    display: flex;
    padding: 50px;
    justify-content: center;
}

#github img {
    max-width: 250px;
    padding-top: 10px;
    padding-right: 10px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contend ul {
    display: block;
}

.link > a {
    text-decoration: overline;
    color: #734E40;
}

.link > a:hover {
    color: #8C4126;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.lista > li {
    font-size: clamp(0.5em, 1em + 1vw, 1em);
    padding: 3px;
    padding-left: 50px;
    padding-top: 10px;
}

.git-lista > li {
    font-size: clamp(0.5em, 1em + 1vw, 1em);
    padding: 3px;
    padding-left: 23px;
    padding-top: 10px;
    width: 183.97px;
}